.navbutton{
    color: white;
    background-color: rgb(150, 150, 150);
    padding: 0.3rem 0.5rem;
    border-radius: 1rem;
    width: 6rem;
    border: none;
    font-size: 1rem;
    font-weight: 600;

}
.navbutton:hover{
    background-color: whitesmoke;
    color: black;
    box-shadow: 0 0 5px cyan,
    0 0 10px cyan, 0 0 50px cyan,
    0 0 10px cyan, 0 0 200px cyan;
}
@media screen and (min-width:700px ) and (max-width:1100px) {
    
}